{% extends "web/base.html" %}
{% load bootstrap %}
{% block body_block %}
<h3>{% if object %}Editar {% else %}Agregar {% endif %}Entidad</h3>
<div class="col-md-6">
    <form id="entidad_form" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        {% if object %}
            {% if not object.sesions.exists %} 
                <a href="{% url 'delete_entidad' object.slug %}" class="btn btn-danger" type="button" >Eliminar</a>
            {% endif %}
        {% endif %}
        <input class="btn btn-primary" type="submit" name="submit" value="{% if object %}Editar{% else %}Agregar{% endif %}" />
    </form>
</div>
{% endblock body_block %}